.flyer-button{ 
    margin: 0 100px;
    color: #0C2D57;
}

/* ==AboutMe== */
.about_image{
    width: 265px;
    height: 260px;
    margin-right: 140;
    /* margin-left: 150px; */
}


.aboutme_card{
    
    width: 450px;
    font-family: montserrat;
    
}

.aboutme-heading{
    font-family: montserrat;
    color: #0C2D57;
    font-weight: bold;
    margin-top: 60px;
    text-align:left;
    font-size: 2rem; /* Increase font size */
}

.aboutme_des{
    font-family: montserrat;
}
