/* ==Navbar== */
.navbar{
    font-family: montserrat;
    font-weight: 600;
    color: #0C2D57;
}

.d-inline-block{
    align-items: center;
    margin-right: 5px;
}

/* ==Copyright== */
.copyright{
    text-align:  center;
    margin: auto;
    
    width: 100%;
    position: fixed;
    bottom: 0;
    text-decoration: none;
}

