body{
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0.6em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.589);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0C2D57;
    border-radius: 10px;
  }